h1  {
    background-color: aqua;
    text-decoration: wavy;
    text-align: center;
    font-size: 1.5rem;
}

h2{
    background-color: aquamarine;
    text-align: center;
    font-size: 1.7rem;
}

.very-important{
    color: blueviolet;
}

.very-important{
    border: 5px green;
}

.Am{
    color: rgb(148, 81, 211);
}

Body{
    background-color: cornsilk;
    text-align: center;
}

*{
    box-sizing: border-box;
}

#box {
    background-color: cyan;
    border: 20cap solid black;
    margin: 30px auto;
    padding: 10px ;
    width: 800px;
    height: 200px;
    font-weight: bold;
}

a:hover {
    transition: 1s left ease;
  }
  
  

  .scale {
    animation: scale-anim 1s both ease-in-out infinite alternate;
  }
  

  
